Repository podcodar/app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fea: create createUser and add it to signin
  src/shared/auth.ts
  src/shared/db.ts
Due: prettier --write, eslint --fix

fea: use data from db on profile page
  src/app/app/[username]/page.tsx
  src/components/Profile.tsx
Due: prettier --write, eslint --fix

fix: PR bullet points
  .eslintrc.json
  src/app/app/multistep/page.tsx
  src/app/app/onboarding/page.tsx
  src/components/OnboardingForm.tsx
  src/components/forms/OnboardingAbout.tsx
  src/components/forms/OnboardingContact.tsx
  src/components/forms/OnboardingProfessional.tsx
  src/components/forms/OnboardingRegistration.tsx
  src/shared/onboarding.ts
Due: prettier --write, eslint --fix

enh: user User instead of AdapterUser
  src/shared/db.ts
Due: prettier --write, eslint --fix

fix: PR sugesttions
  src/components/Navbar.tsx
  src/hooks/useOnboardingForm.tsx
Due: prettier --write, eslint --fix

ref: move steps hook content
  src/app/app/onboarding/page.tsx
  src/hooks/useOnboardingForm.tsx
Due: prettier --write, eslint --fix

enh: fix code with PR#33 comments
  src/app/app/[username]/page.tsx
  src/components/Profile.tsx
  src/shared/auth.ts
  src/shared/db.ts
Due: prettier --write, eslint --fix

enh: improve typing
  src/shared/auth.ts
  src/shared/db.ts
Due: prettier --write, eslint --fix

enh: use fetchUserBy
  src/app/app/[username]/page.tsx
Due: prettier --write, eslint --fix

enh: get db user from props
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

enh: create fetchUserWithSession
  src/shared/db.ts
Due: prettier --write, eslint --fix

enh: pass user from fetchUserWithSession to Navbar
  src/app/admin/layout.tsx
  src/app/app/layout.tsx
Due: prettier --write, eslint --fix

fea: add link to profile page
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

enh: create a redirectUrl variable
  src/shared/db.ts
Due: prettier --write, eslint --fix

enh: create generic ActionType
  src/shared/types.ts
Due: prettier --write, eslint --fix

enh: config indent rule for switch case
  .eslintrc.json
Due: prettier --write

fea: create UserProvider
  src/contexts/UserProvider.tsx
Due: prettier --write, eslint --fix

ref: create stateless context
  src/contexts/UserProvider.tsx
Due: prettier --write, eslint --fix

enh: remove unecessary action type
  src/shared/types.ts
Due: prettier --write, eslint --fix

fea: validate form steps
  src/app/app/onboarding/page.tsx
  src/components/forms/OnboardingAbout.tsx
  src/components/forms/OnboardingContact.tsx
  src/components/forms/OnboardingProfessional.tsx
  src/components/forms/OnboardingRegistration.tsx
  src/hooks/useOnboardingForm.tsx
  src/shared/onboarding.ts
Due: prettier --write, eslint --fix

fix: Comments resolved
  src/app/app/onboarding/page.tsx
  src/components/forms/OnboardingContact.tsx
  src/shared/onboarding.ts
Due: prettier --write, eslint --fix

fea: Create onBoarding Context
  src/app/app/onboarding/layout.tsx
  src/app/app/onboarding/page.tsx
  src/components/forms/OnboardingAbout.tsx
  src/components/forms/OnboardingContact.tsx
  src/components/forms/OnboardingProfessional.tsx
  src/components/forms/OnboardingRegistration.tsx
  src/contexts/OnboardingFormProvider.tsx
  src/contexts/UserProvider.tsx
  src/hooks/useOnboardingForm.tsx
  src/shared/exceptions.ts
Due: prettier --write, eslint --fix

fea: Create useOnboardingFormState
  src/components/forms/OnboardingAbout.tsx
  src/components/forms/OnboardingContact.tsx
  src/components/forms/OnboardingProfessional.tsx
  src/components/forms/OnboardingRegistration.tsx
  src/contexts/OnboardingFormProvider.tsx
  src/hooks/onboarding-form.tsx
Due: prettier --write, eslint --fix

ref: Refactor form validation
  src/components/forms/OnboardingAbout.tsx
  src/components/forms/OnboardingContact.tsx
  src/components/forms/OnboardingProfessional.tsx
  src/components/forms/OnboardingRegistration.tsx
  src/hooks/onboarding-form-schema.tsx
  src/hooks/onboarding-form.tsx
  src/shared/onboarding.ts
Due: prettier --write, eslint --fix

oth: create wait-for-it.sh
  .github/workflows/wait-for-it.sh
Due: none

tes: create github testing actions
  .github/workflows/test.yml
Due: prettier --write

fix: change from docker-compose exec to run
  .github/workflows/test.yml
Due: prettier --write

fix: grant permission to wait-for-it.sh
  .github/workflows/test.yml
Due: prettier --write

fix: use bash as shell
  .github/workflows/test.yml
Due: prettier --write

fix: use sh as shell
  .github/workflows/test.yml
Due: prettier --write

fix: add step to build docker images
  .github/workflows/test.yml
Due: prettier --write

oth: remove wait-for-it.sh
  .github/workflows/wait-for-it.sh
Due: none

fix: change github actions workflow
  .github/workflows/test.yml
Due: prettier --write

fix: change github actions
  .github/workflows/ci-tests.yml
  .github/workflows/test.yml
Due: prettier --write

fix: update github actions workflow
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: add show logs command
  .github/workflows/ci-tests.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: *.{json,yaml,yml,css,md})
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
