Repository podcodar/app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

enh: make username unique
  prisma/erd.md
  prisma/migrations/20230530211059_make_username_unique/migration.sql
  prisma/schema.prisma
Due: prettier --write

fea: add test case for adding repeated username
  src/tests/db.test.ts
Due: prettier --write, eslint --fix

enh: comply with PR review sugestions
  src/app/app/[username]/page.tsx
  src/components/Profile.tsx
  src/entities/users.ts
  src/shared/makeImageSizes.ts
Due: prettier --write, eslint --fix

enh: improve profile page UI
  src/app/app/[username]/page.tsx
  src/components/Profile.tsx
Due: prettier --write, eslint --fix

enh: change image sizing logic
  src/components/Profile.tsx
  src/shared/makeImageSizes.ts
Due: prettier --write, eslint --fix

enh: create shared image
  src/components/Profile.tsx
  src/shared/components.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

enh: minor layout changes
  src/components/Profile.tsx
Due: prettier --write, eslint --fix

enh: use grid instead of flex
  src/components/Profile.tsx
Due: prettier --write, eslint --fix

enh: comply with PR suggestions
  src/components/Profile.tsx
Due: prettier --write, eslint --fix

fea: Implement react hook form and zod
  package.json
  pnpm-lock.yaml
  src/app/app/page.tsx
  src/components/OnboardingForm.tsx
  src/shared/components.tsx
  src/shared/onboarding.ts
  src/shared/tw.tsx
Due: prettier --write, eslint --fix

ref: formSchema type moved to onboarding.ts
  src/app/app/page.tsx
  src/components/OnboardingForm.tsx
  src/shared/onboarding.ts
  src/shared/tw.tsx
Due: prettier --write, eslint --fix

fix: components format
  jest.config.mjs
  pnpm-lock.yaml
  src/components/TaskList.tsx
  src/shared/components.tsx
Due: prettier --write, eslint --fix

fix: eslint display name issue
  src/shared/components.tsx
Due: prettier --write, eslint --fix

ref: template string fix style indentation
  src/shared/components.tsx
Due: prettier --write, eslint --fix

fix: remove bad comments .env.example
  .env.example
Due: none

enh: install tailwind styled components
  package.json
  pnpm-lock.yaml
Due: prettier --write

enh: cleanup tw utils
  src/shared/tw.tsx
  src/shared/types.ts
Due: prettier --write, eslint --fix

fea: setup autocomplete vscode
  .vscode/settings.json
Due: prettier --write

fea: create shared Container component
  src/shared/components.tsx
Due: prettier --write, eslint --fix

enh: reuse Container component
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/app/layout.tsx
Due: prettier --write, eslint --fix

enh: install deps on docker
  Dockerfile
Due: none

ref: change size from px to rem
  src/components/Profile.tsx
Due: prettier --write, eslint --fix

example multistep
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/app/app/multistep/page.tsx
  src/components/forms/OnboardingRegistrationForm.tsx
  src/hooks/useOnboardingForm.tsx
Due: prettier --write, eslint --fix

use query params
  src/app/app/multistep/page.tsx
Due: prettier --write, eslint --fix

abstract forms states
  src/app/app/multistep/page.tsx
  src/hooks/useOnboardingForm.tsx
Due: prettier --write, eslint --fix

ref: refactoring Image
  src/shared/components.tsx
Due: prettier --write, eslint --fix

ref: refactoring Label
  src/shared/components.tsx
Due: prettier --write, eslint --fix

ref: refactoring Form and Title
  src/shared/components.tsx
Due: prettier --write, eslint --fix

ref: refactoring All form inputs
  src/shared/components.tsx
Due: prettier --write, eslint --fix

fea: Create multistep form and eslint ts plugin install
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/app/app/multistep/page.tsx
  src/components/forms/OnboardingAboutForm.tsx
  src/components/forms/OnboardingContactForm.tsx
  src/components/forms/OnboardingProfessionalForm.tsx
  src/components/forms/OnboardingRegistrationForm.tsx
  src/hooks/useOnboardingForm.tsx
  src/shared/onboarding.ts
Due: prettier --write, eslint --fix

ref: Remove enviar button
  src/app/app/multistep/page.tsx
  src/components/forms/OnboardingAboutForm.tsx
  src/components/forms/OnboardingRegistrationForm.tsx
Due: prettier --write, eslint --fix

fix: Remove empty onClick on Navbar for Eslint issues
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

fix: Disables TS Eslint non null assertions
  .eslintrc.json
Due: prettier --write

oth: change prisma schema
  prisma/erd.md
  prisma/schema.prisma
Due: prettier --write

oth: make schema migrations
  prisma/migrations/20230607195920_credentials_compliance/migration.sql
Due: none

fea: login creates user on db if non existent
  src/shared/auth.ts
Due: prettier --write, eslint --fix

fea: add migrate script
  docker-compose.yml
  package.json
Due: prettier --write

enh: add db:generate
  Dockerfile
Due: none

enh: change prisma schema
  prisma/erd.md
  prisma/migrations/20230607195920_credentials_compliance/migration.sql
  prisma/migrations/20230614134034_add_avatar_define_defaults/migration.sql
  prisma/schema.prisma
Due: prettier --write

fea: add default avatar asset
  public/images/default-user.svg
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: *.{json,yaml,yml,css,md})
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
