Repository podcodar/app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: run pnpm fmt
  .vscode/settings.json
  README.md
  next.config.js
  pnpm-lock.yaml
  postcss.config.js
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/app/layout.tsx
  src/app/app/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/components/GithubSignInButton.tsx
  src/components/Navbar.tsx
  src/middleware.ts
  src/shared/auth.ts
  tailwind.config.js
  vercel.json
Due: prettier --write, eslint --fix

fix: pre-commit command
  .husky/pre-commit
  package.json
Due: prettier --write

oth: readme edit
  README.md
Due: prettier --write

enh: create generic sign in button
  src/components/GithubSignInButton.tsx
  src/components/SignInButton.tsx
Due: prettier --write, eslint --fix

enh: improve sign in form UI
  src/components/SignInForm.tsx
Due: prettier --write, eslint --fix

enh: use sign in form component on login page
  src/app/login/page.tsx
Due: prettier --write, eslint --fix

fea: created accordion component
  src/app/app/dashboard/page.tsx
  src/components/Accordion.tsx
Due: prettier --write, eslint --fix

enh: remove unnecessary sign in form inputs
  src/components/SignInForm.tsx
Due: prettier --write, eslint --fix

fix: remove unnecessary callbackUrl
  src/components/SignInButton.tsx
Due: prettier --write, eslint --fix

fix: remove unnecessary import
  src/components/SignInButton.tsx
Due: prettier --write, eslint --fix

enh: create login providers type
  src/components/SignInButton.tsx
Due: prettier --write, eslint --fix

enh: remove suffix Type from Types
  src/components/SignInButton.tsx
Due: prettier --write, eslint --fix

enh: clean up Image properties
  src/components/SignInForm.tsx
Due: prettier --write, eslint --fix

fix: PR Sugestions implemented
  src/app/app/dashboard/page.tsx
  src/components/Accordion.tsx
  src/components/TaskList.tsx
  src/entities/tasks.ts
  src/shared/settings.ts
Due: prettier --write, eslint --fix

fea: show login errors
  src/app/login/page.tsx
  src/components/SignInForm.tsx
Due: prettier --write, eslint --fix

fix: get full redirect path
  src/middleware.ts
Due: prettier --write, eslint --fix

ref: move dashboard to main route
  src/app/app/dashboard/page.tsx
  src/app/app/page.tsx
Due: prettier --write, eslint --fix

enh: clean up nav links
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

fix: profile options
  src/components/Navbar.tsx
Due: prettier --write, eslint --fix

Revert "fix: get full redirect path"
  src/middleware.ts
Due: prettier --write, eslint --fix

fea: use our logo as favicon
  src/app/favicon.ico
  src/app/layout.tsx
Due: prettier --write, eslint --fix

enh: change logo to be 100% svg
  public/images/logo.svg
Due: none

oth: fix `.env.example` issue
  .env.example
Due: none

fix: redirect home to login
  src/app/page.tsx
Due: prettier --write, eslint --fix

fea: add openGraph metadata
  src/app/layout.tsx
Due: prettier --write, eslint --fix

fix: typo
  src/app/layout.tsx
Due: prettier --write, eslint --fix

oth: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fix linting issues
  next.config.js
  src/app/app/page.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --fix

fea: setup google credentials
  next.config.js
  src/components/SignInButton.tsx
  src/shared/auth.ts
  src/shared/settings.ts
Due: prettier --write, eslint --fix

fea: add google login button
  src/components/SignInForm.tsx
Due: prettier --write, eslint --fix

enh: update .env example
  .env.example
Due: none

enh: install prisma
  package.json
  pnpm-lock.yaml
Due: prettier --write

fea: setup prisma
  .env.example
  prisma/schema.prisma
Due: none

fea: modeling prisma data
  prisma/schema.prisma
Due: none

fea: add diagram generator
  package.json
  pnpm-lock.yaml
  prisma/ERD.svg
  prisma/schema.prisma
Due: prettier --write

fea: use custom .env.local file
  package.json
  pnpm-lock.yaml
Due: prettier --write

fea: migration init
  prisma/migrations/20230519005313_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: none

fea: local storage persistence
  src/components/TaskList.tsx
Due: prettier --write, eslint --fix

fea: checkbox on tasklist
  src/components/TaskList.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: *.{json,yaml,yml,css,md})
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
