Repository podcodar/app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ref: localStorage created on a individual function
  src/app/app/layout.tsx
  src/components/TaskList.tsx
Due: prettier --write, eslint --fix

ref: empty div removed
  src/components/TaskList.tsx
Due: prettier --write, eslint --fix

feat: Form route created
  src/app/app/form/layout.tsx
  src/app/app/form/page.tsx
Due: prettier --write, eslint --fix

fix: generate erd as markdown
  prisma/schema.prisma
Due: none

enh: ignore .env files
  .env.example
Due: none

fix: update db initial migration
  prisma/erd.md
  prisma/migrations/20230520234245_init/migration.sql
Due: prettier --write

fea: setup docker to run app & db
  Dockerfile
  docker-compose.yml
Due: prettier --write

fix: ignore all .env files
  .gitignore
Due: none

oth: persist/share envs
  .env.development
  .env.local
  .env.production
Due: none

fix: update env example
  .env.example
Due: none

fea: create /app/[username] app route
  src/app/app/[username]/page.tsx
Due: prettier --write, eslint --fix

feat: Create form mockup
  src/app/app/form/page.tsx
  src/components/OnboardingForm.tsx
Due: prettier --write, eslint --fix

fix: Changes request update
  src/app/app/Onboarding/page.tsx
  src/app/app/form/layout.tsx
  src/app/app/form/page.tsx
  src/components/OnboardingForm.tsx
Due: prettier --write, eslint --fix

fix: fixed name route
  src/app/app/onboarding/page.tsx
Due: prettier --write, eslint --fix

fea: Create onboardingUtils
  src/components/OnboardingForm.tsx
  src/shared/onboardingUtils.ts
Due: prettier --write, eslint --fix

fea: @apply classes
  src/app/globals.css
  src/components/OnboardingForm.tsx
Due: prettier --write, eslint --fix

fea: Form questions
  src/components/OnboardingForm.tsx
Due: prettier --write, eslint --fix

fea: custom @apply classes
  src/app/globals.css
  src/components/OnboardingForm.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

fix: Global CSS and Onboarding Select defaultValue
  src/app/globals.css
  src/components/OnboardingForm.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

ref: Create components for form elements
  src/app/globals.css
  src/components/OnboardingForm.tsx
  src/shared/components.tsx
  src/shared/onboarding.ts
  src/shared/tw.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

fix: text-area component for new form questions
  src/components/OnboardingForm.tsx
  src/shared/components.tsx
Due: prettier --write, eslint --fix

fea: Improve onbarding form
  src/components/OnboardingForm.tsx
  src/shared/onboarding.ts
Due: prettier --write, eslint --fix

ref: Remove coments
  src/components/OnboardingForm.tsx
Due: prettier --write, eslint --fix

ref: Remove spaces
  src/shared/components.tsx
Due: prettier --write, eslint --fix

fea: add vscode db connection
  .vscode/settings.json
Due: prettier --write

enh: cleanup prisma configs
  prisma/ERD.svg
  prisma/migrations/20230530132059_initialize/migration.sql
  prisma/schema.prisma
Due: none

enh: improve docker setup
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

enh: share credentials between app and db
  .env.postgres
  docker-compose.yml
Due: prettier --write

enh: add utils commands
  package.json
Due: prettier --write

enh: update dependencies
  .env.example
  .prettierignore
  package.json
  pnpm-lock.yaml
  prisma/erd.md
  src/middleware.ts
Due: prettier --write, eslint --fix

fix: docker ignore node_modules
  .dockerignore
  Dockerfile
  package.json
Due: prettier --write

fea: setup jest for testing
  .eslintrc.json
  jest.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

fea: setup test container
  .env.postgres.test
  .vscode/settings.json
  docker-compose.yml
Due: prettier --write

fea: test get user by username
  src/shared/db.ts
  src/tests/db.test.ts
  src/tests/db.utils.ts
Due: prettier --write, eslint --fix

enh: improve npm scripts for docker
  package.json
Due: prettier --write

fix: docker networking issue
  docker-compose.yml
Due: prettier --write

fix: id creation for users
  src/tests/db.utils.ts
Due: prettier --write, eslint --fix

fea: add test for getting users tasks
  src/tests/db.test.ts
Due: prettier --write, eslint --fix

fea: add test users doing a task
  src/tests/db.test.ts
Due: prettier --write, eslint --fix

fea: add test for getting dependent tasks
  src/tests/db.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: *.{json,yaml,yml,css,md})
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
