Repository podcodar/app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

enh: remove --watchAll for CI purpose
  package.json
Due: prettier --write

fix: update github actions workflow
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: add --watchAll
  package.json
Due: prettier --write

fix: remove --watchAll
  package.json
Due: prettier --write

fix: remove deprecrated set-output
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: change from up to run
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: remove -it
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: add building step
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: remove cleanup step
  .github/workflows/ci-tests.yml
Due: prettier --write

fea: create user DAO
  src/app/admin/layout.tsx
  src/app/app/[username]/page.tsx
  src/app/app/layout.tsx
  src/shared/auth.ts
  src/shared/db.ts
Due: prettier --write, eslint --fix

enh: update test cases
  src/tests/db.test.ts
Due: prettier --write, eslint --fix

fix: conflicting name
  src/shared/auth.ts
Due: prettier --write, eslint --fix

enh: create distinct test script for --watchAll
  package.json
Due: prettier --write

fea: create CI tests github actions workflow
  .github/workflows/ci-tests.yml
Due: prettier --write

enh: fix failing tests
  .github/workflows/ci-tests.yml
  package.json
  src/tests/db.test.ts
Due: prettier --write, eslint --fix

enh: use lts node
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: test script
  package.json
Due: prettier --write

fix: add missing email key
  src/tests/db.test.ts
Due: prettier --write, eslint --fix

enh: made seed dynamic
  src/tests/db.test.ts
  src/tests/db.utils.ts
Due: prettier --write, eslint --fix

fea: New form layout
  src/app/app/layout.tsx
  src/app/app/onboarding/page.tsx
  src/app/app/page.tsx
  src/components/forms/OnboardingAbout.tsx
  src/components/forms/OnboardingContact.tsx
  src/components/forms/OnboardingProfessional.tsx
  src/components/forms/OnboardingRegistration.tsx
  src/shared/components.tsx
  src/shared/onboarding.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

ref: remove container
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/app/layout.tsx
  src/shared/components.tsx
Due: prettier --write, eslint --fix

ref: remove colspan and div from onboarding page
  src/app/app/onboarding/page.tsx
Due: prettier --write, eslint --fix

ref: w-full for inputs and remove col-span-2
  src/shared/components.tsx
Due: prettier --write, eslint --fix

ref: webkit order reorganize for inputs
  src/shared/components.tsx
Due: prettier --write, eslint --fix

ref: delete comentary
  src/app/app/onboarding/page.tsx
Due: prettier --write, eslint --fix

enh: create seed container
  docker-compose.yml
  package.json
Due: prettier --write

enh: create db seed function
  prisma/seed.ts
Due: none

fix: fix eslint errors
  src/app/app/onboarding/layout.tsx
  src/shared/db.ts
  src/tests/db.test.ts
  src/tests/db.utils.ts
Due: prettier --write, eslint --fix

fix: import prisma client instance from db.ts
  prisma/seed.ts
Due: none

fea: create api to receive formdata
  src/app/api/onboarding/route.ts
Due: prettier --write, eslint --fix

ref: creates formSchema for formState
  src/hooks/onboarding-form-schema.tsx
  src/hooks/onboarding-form.tsx
  src/shared/onboarding.ts
Due: prettier --write, eslint --fix

fea: create Review component, added to layout
  src/app/app/onboarding/layout.tsx
  src/components/forms/OnboardingReview.tsx
Due: prettier --write, eslint --fix

fea: react-query setup
  package.json
  pnpm-lock.yaml
  src/app/app/onboarding/page.tsx
Due: prettier --write, eslint --fix

ref: remove api communication from about
  src/components/forms/OnboardingAbout.tsx
Due: prettier --write, eslint --fix

enh: change prisma schema and migrate Co-authored-by: vitorschelb <vitoraiala@gmail.com>
  prisma/erd.md
  prisma/migrations/20230726172008_add_ondboarding_fields/migration.sql
  prisma/schema.prisma
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: *.{json,yaml,yml,css,md})
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
